@import url('./_active/stoplight__color_active.css');
@import url('./_blinking/stoplight__color_blinking.css');
@import url('./_green/stoplight__color_green.css');
@import url('./_red/stoplight__color_red.css');
@import url('./_yellow/stoplight__color_yellow.css');

.stoplight__color {
    width: 15vh;
    height: 15vh;
    border-radius: 7.5vh;
    margin: 10px;
    opacity: 0.2;
}